header {
  background-color: $cinza-claro-ligth;

  .header__top {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    background-color: $branco;
    border-bottom: 1px solid $cinza-claro;
    height: 50px;

    max-width: 1800px;
    margin: 0 auto;

    padding-left: 100px;
    padding-right: 100px;

    font-size: 14px;

    .contact__list {
      display: flex;

      .list__item:first-child {
        margin-right: 40px;
      }

      .list__item > a {
        font-weight: bold;
        color: $verde;
      }
    }

    .my__requests {
      > b {
        color: $verde;
      }

      .fa-bars {
        margin-right: 10px;
      }
    }

    // Breakpoints
    @include media-max($xl) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .header__center {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $branco;
    max-width: 1800px;
    margin: 0 auto;

    padding-left: 100px;
    padding-right: 100px;

    height: 120px;

    .center__logo {
      width: 290px;
      height: auto;
    }

    .center__form {
      position: relative;
      width: 100%;
      max-width: 900px;

      .form__input {
        width: 100%;
        height: 65px;
        padding-left: 15px;
        border: 1px solid $cinza-claro;
        border-radius: 5px;
      }

      .form__button {
        position: absolute;
        top: 15px;
        right: 15px;

        width: 30px;
        height: 30px;

        background-color: unset;
        border: unset;
      }

      // Breakpoints
      @include media-max($xl) {
        width: 500px;
      }
    }

    .center__login {
      display: flex;
      align-items: center;
      justify-content: center;

      .login__icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: $verde;
      }
    }

    .center__cart {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 15px;
      border: 1px solid $cinza-claro;

      .cart__icon {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        fill: $verde;
      }
    }

    // Breakpoints
    @include media-max($xl) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .header__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 1800px;
    margin: 0 auto;

    font-size: 14px;

    background-color: $cinza-claro;
    border-bottom: 1px solid $cinza-medio;

    .nav__list {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;

      max-width: 1800px;
      height: 45px;

      font-size: 12px;

      .nav__list-item {
        width: 135px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        line-height: 14px;

        border-right: 1px solid $cinza-medio;
        text-transform: uppercase;

        position: relative;

        &:hover {
          background-color: $verde;
          color: $branco;
         

          .nav__list__nivel{
            display: flex;
            flex-direction: column;
            width: 200px;
            text-transform: initial;
            background-color: $cinza-medio;
            color: $branco;
           

            .nav__list__nivel-item {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              height: 35px;
              border-top: 1px solid $verde;
              
              position: relative;

              &:hover{
                background-color: $cinza-claro;
              }

              .nav__list__nivel__nivel{
                align-items: center;
                justify-content: center;
                width: 200px;
                height: 35px;
                position: absolute;

                &:hover {
                  .nav__list__nivel__nivel-item {
                    position: relative;
                    top: 0px;
                    left: 200px;
                    width: 200px;
                    height: 35px;
                    background-color: $verde;
                    color: $branco;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                      opacity: 0.9;
                    }
                  }
                }

                .nav__list__nivel__nivel-item {
                  display: none;
                }
              }
            }
          }
        }

        .nav__list__nivel{
          display: none;
          position: absolute;
          top: 45px;
        }
      }
    }
  }
}
