<!-- Estrutura para InstaFeed -->
<article class="container-center instafeed"></article>


<article class="newsletter">
    <div class="newsletter__wrapper">
        <h3 class="newsletter__titulo">/<b>Cadastre-se</b> e receba nossas <b>novidades e ofertas exclusivas</b> por
            e-mail: </h3>
    </div>
    <div class="newsletter__wrapper">
        <form class="newsletter__form">
            <input class="newsletter__input" type="text" placeholder="DIGITE SEU E-MAIL" />
            <div class="newsletter__btn"> Cadastrar </div>
        </form>
    </div>  
</article>

<article class="container seo-footer">
    <section class="seo-footer__text">
        <vtex.cmc:raphael-freireseoHome />
    </section>
</article>



<footer>
    <div class="footer__container">

        <article class="container__top">
            <section class="wrapper__footer__info">
                <h3 class="footer__info__title">Lorem Ipsum is simply dummy</h3>

                <h4 class="footer__info__subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.</h4>

                <p class="footer__info__text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book.
                </p>
            </section>
        </article>

        <article class="container__middle">

            <section class="wrapper__footer__logo">

                <img class="footer__logo__image" src="/arquivos/raphael-freire-logo-eplus.svg" alt="Logo Code Plus" />

                <p class="footer__logo__text">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                </p>

            </section>

            <section class="wrapper__footer__links">

                <article class="footer__information">
                    <p>
                        Razão Social: Agência e-Plus Ltda | CNPJ: 18.106.304/0001-01 | 
                        Endereço: Borges Lagoa, 564, 13 andar | CEP: 04038-000 | Vila Mariana - São Paulo
                    </p>

                    <p>
                        Horário de Atendimento da Loja: 9h00 as 18h.
                    </p>
                </article>

                <article class="footer__institutional">
                    <h3 class="footer__institutional__title">e-Plus</h3>

                    <ul class="footer__institutional__list">
                        <li class="institutional__list__item">
                            <a class="institutional__item__link" href="#"><i class="fa fa-angle-right"></i>Quem Somos</a>
                        </li>
                        <li class="institutional__list__item">
                            <a class="institutional__item__link" href="#"><i class="fas fa-angle-right"></i>Política de Privacidade</a>
                        </li>
                    </ul>

                    <section class="footer__socialmedia">
                        <h3 class="footer__socialmedia__title">Junte-se à Nós</h3>

                        <div class="footer__socialmedia__icons">
                            <a class="footer__instagram__link" href="#">
                                <vtex.cmc:RaphaelFreireSvgInstagram />
                            </a>
                            <a class="footer__facebook__link" href="#">
                                <vtex.cmc:RaphaelFreireSvgFacebook />
                            </a>
                            <a class="footer__youtube__link" href="#">
                                <vtex.cmc:RaphaelFreireSvgYouTube />
                            </a>
                        </div>
                    </section>
                </article>

                <article class="footer__question">
                    <h3 class="footer__question__title">Dúvidas</h3>
                    <ul class="footer__question__list">
                        <li class="question__list__item">
                            <a class="question__item__link" href="#"><i class="fas fa-angle-right"></i>Minha Conta</a>
                        </li>
                        <li class="question__list__item">
                            <a class="question__item__link" href="#"><i class="fas fa-angle-right"></i>Meus Pedidos</a>
                        </li>
                        <li class="question__list__item">
                            <a class="question__item__link" href="#"><i class="fas fa-angle-right"></i>Fale Conosco</a>
                        </li>
                    </ul>
                </article>

                <article class="footer__security">
                    <h3 class="footer__security__title">Segurança</h3>
                    <ul class="footer__security__list">
                        <li class="security__list__item">
                            <a class="security__item__link" href="https://letsencrypt.org/">
                                <img src="/arquivos/raphael-freire-pci.png" alt="Logo PCI Let's Encrypt" />
                            </a>
                        </li>
                        <li class="security__list__item">
                            <a class="security__item__link" href="https://letsencrypt.org/">
                                <vtex.cmc:RaphaelFreireSvgLets />
                            </a>
                        </li>
                        
                    </ul>
                </article>

            </section>

            <section class="wrapper__footer__copyright__and__payment">
                <h3 class="footer__copyright__title">Todos os direitos reservados. Loja de Testes. As informações não
                    podem ser reproduzidas total ou parcialmente sem autorização prévia.</h3>


                <ul class="footer__payment__list">
                    <li class="payment__list__item">
                        <a class="payment__item__link" href="#">
                            <img src="/arquivos/raphael-freire-visa.png" alt="Logo Cartão Visa" />
                        </a>
                    </li>
                    <li class="payment__list__item">
                        <a class="payment__item__link" href="#">
                            <img src="/arquivos/raphael-freire-card.png" alt="Logo Cartão MasterCard" />
                        </a>
                    </li>
                    <li class="payment__list__item">
                        <a class="payment__item__link" href="#">
                            <img src="/arquivos/raphael-freire-dinners.png" alt="Logo Cartão Dinners" />
                        </a>
                    </li>
                    <li class="payment__list__item">
                        <a class="payment__item__link" href="#">
                            <img src="/arquivos/raphael-freire-aura.png" alt="Logo Cartão Aura" />
                        </a>
                    </li>
                    <li class="payment__list__item">
                        <a class="payment__item__link" href="#">
                            <img src="/arquivos/raphael-freire-hipercard.png" alt="Logo Cartão Hipercard" />
                        </a>
                    </li>
                    <li class="payment__list__item">
                        <a class="payment__item__link" href="#">
                            <img src="/arquivos/raphael-freire-american.png" alt="Logo Cartão American" />
                        </a>
                    </li>
                    <li class="payment__list__item">
                        <a class="payment__item__link" href="#">
                            <img src="/arquivos/raphael-freire-elo.png" alt="Logo Cartão Elo" />
                        </a>
                    </li>
                    <li class="payment__list__item">
                        <a class="payment__item__link" href="#">
                            <img src="/arquivos/raphael-freire-boleto.png" alt="Simbolo Representa Boleto" />
                        </a>
                    </li>
                </ul>
            </section>

        </article>

        <article class="container__bottom">

            <section class="footer__copyright__logos">

                <div class="footer__copyright__logo__eplus">
                    <a class="footer__copyright__link" href="https://www.agenciaeplus.com.br/">
                        <vtex.cmc:RaphaelFreireSvgAgenciaEplus />
                    </a>
                </div>

                <div class="footer__copyright__logo__vtex">
                    <a class="footer__copyright__link" href="https://www.vtex.com/pt-br/">
                        <vtex.cmc:RaphaelFreireSvgVtex />
                    </a>
                </div>
            </section>
        </article>

    </div>
</footer>